# Prisma datasource url (See: prisma.config.ts)
DATABASE_URL="file:./dev.db"
# Nuxt Auth Utils session password
NUXT_SESSION_PASSWORD="password-with-at-least-32-characters"
# Sqids custom alphabet (Optional)
NUXT_SQIDS_ALPHABET="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"
# Client base url
NUXT_PUBLIC_APP_URL="http://localhost:3000"